@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Overlock+SC&display=swap');

html {
   min-height: 100%;
}

body {
   background:
      linear-gradient(200deg, rgba(27, 38, 79, 0.8), transparent),
      linear-gradient(100deg, rgba(39, 70, 144, 0.8), transparent),
      linear-gradient(300deg, rgba(87, 108, 168, 0.8), transparent);
   background-repeat: no-repeat;
   background-size: auto;
   color: #f5f3f5;
   
}

.bg-custom {
   background-color: #302b27da;
}

#icon {
   vertical-align: middle;
}

#logo {
   font-family: 'Overlock SC', cursive;
   font-size: 20px;
}

#reg-form {
   /* background-color: #1b264f; */
   background:
      linear-gradient(40deg, rgba(27, 38, 79, 0.95), transparent),
      linear-gradient(45deg, rgba(87, 108, 168, 0.75), transparent),
      linear-gradient(150deg, rgba(48, 43, 39, 0.8), transparent),
      linear-gradient(180deg, rgba(39, 70, 144, 0.85), transparent);
   background-repeat: no-repeat;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
   background-color: rgba(48, 43, 39, 0.65) !important;
     
   border-color: transparent;
}

.form-labels {
   color: #f5f3f5;
}