@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Overlock+SC&display=swap');

html {
   min-height: 100%;
}

body {
   background:
      linear-gradient(200deg, rgba(27, 38, 79, 0.8), transparent),
      linear-gradient(100deg, rgba(39, 70, 144, 0.8), transparent),
      linear-gradient(300deg, rgba(87, 108, 168, 0.8), transparent);
   background-repeat: no-repeat;
   background-size: auto;
   color: #f5f3f5;
   
}

h1 {
   font-size: 28px;
}

h2 {
   font-size: 24px;
}

h3, li {
   font-size: 20px;
}


.bg-custom {
   background-color: #302b27da;
}

#icon {
   vertical-align: middle;
}

#logo {
   font-family: 'Overlock SC', cursive;
   font-size: 20px;
}

#reg-form {
   /* background-color: #1b264f; */
   background:
      linear-gradient(40deg, rgba(27, 38, 79, 0.95), transparent),
      linear-gradient(45deg, rgba(87, 108, 168, 0.75), transparent),
      linear-gradient(150deg, rgba(48, 43, 39, 0.8), transparent),
      linear-gradient(180deg, rgba(39, 70, 144, 0.85), transparent);
   background-repeat: no-repeat;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .form-header {
   background-color: rgba(48, 43, 39, 0.65) !important;
   border-color: transparent;
}

.form-header {
   border-radius: 1rem 1rem 0 0
}

.form-labels {
   color: #f5f3f5;
}

.center-div {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.dark-gradient {
   background-color: rgba(48, 43, 39, 0.65) !important;
}

.entry-link {
  color: inherit; 
  text-decoration: none;
}

.entry-link:hover {
   color: inherit
}

.dark-gradient:hover {
   background-color: rgba(48, 43, 39, 0.9) !important;
}

.edit-link, .edit-link:hover {
   color: inherit; 
   font-size: 20px;
}

.footer-link, .footer-link:hover {
   font-size: 20px;
   color: inherit;
   text-decoration: none;
}

.btn-reset, .btn-reset:hover {
   background-color: #f5f3f5;
   color: #302b27da;
}

.search-list-item {
   list-style-type: none;
}
