{% extends "layout.html" %}

{% block title %}
    Add piece
{% endblock %}

{% block main %}
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <form action="/add_piece" method="post" class="border py-5 px-sm-0 m-auto w-auto text-center border-0 rounded-4" id="reg-form">
                    <h1 class="mb-3 d-block px-5 fw-bolder text-start">Add a new piece</h1>
                    <div class="mb-3 d-block text-start px-5">
                        <label for="title" class="form-label form-labels">Title</label>
                        <input type="text" name="title" class="form-control" placeholder="Moonlight Sonata" required>
                    </div>
                    <div class="mb-3 d-block text-start px-5">
                        <div class="row justify-content-between ">
                            <div class="col-4">
                                <label for="title" class="form-label form-labels">Opus</label>
                                <input type="number" name="opus" class="form-control" placeholder="27">
                            </div>
                            <div class="col-4">
                                <label for="title" class="form-label form-labels">Number</label>
                                <input type="number" name="number_in_opus" class="form-control" placeholder="2">
                            </div>
                            <div class="col-4">
                                <label for="title" class="form-label form-labels">Movement</label>
                                <input type="number" name="movement" class="form-control" placeholder="3">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 d-block text-start px-5">
                        <label for="title" class="form-label form-labels">Composer / Artist / Band</label>
                        <input type="text" name="composer" class="form-control" placeholder="Ludwig Van Beethoven" required>
                    </div>
                    <div class="mb-3 d-block text-start px-5">
                        <div class="row justify-content-between">
                            <div class="col-6">
                                <label for="title" class="form-label form-labels">Start date</label>
                                <input type="date" name="start_date" class="form-control">
                            </div>
                            <div class="col-6">
                                <label for="title" class="form-label form-labels">Finish date</label>
                                <input type="date" name="finish_date" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 d-block text-start px-5">
                        <div class="row justify-content-between">
                            <div class="col-6">
                                <label for="title" class="form-label form-labels">Instrument</label>
                                <input type="text" name="instrument" class="form-control" placeholder="Piano">
                            </div>
                            <div class="col-6">
                                <label for="title" class="form-label form-labels">Difficulty Level</label>
                                <input type="number" name="difficulty_level" class="form-control" placeholder="10">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 d-block px-5">
                        <div class="row d-flex justify-content-between align-items-center text-start m-auto">
                            <div class="form-check form-switch col-9 w-auto">
                                <input type="checkbox" name="add_to_repertoire" class="form-check-input">
                                <label for="add_to_repertoire" class="form-check-label w-auto">Add to repertoire</label>
                            </div>
                            <div class="col-3 p-0 text-end">
                                <button class="btn btn-primary fs-5 shadow-lg m-0 fw-bold">Save</button>
                            </div>
                        </div>
                    </div>                   
                    
                </form>

            </div>
        </div>
    </div>

{% endblock %}