{% extends "layout.html" %}

{% block title %}
    Details
{% endblock %}

{% block main %}
    
    <div class="container border py-5 px-sm-0 m-auto w-auto text-center border-0 rounded-4" id="reg-form">
        <div class="row text-start px-5">
            <div class="d-block mb-3">
                <h1 class="fw-bolder title-detail">{{ details['title'] }}</h1>
                {% if details['opus'] %}
                    <h2 class="fw-bolder">Opus <span class="fw-lighter">{{ details['opus'] }}</span></h2>
                {% endif %}
            
                {% if details['number_in_opus'] %}
                    <h2 class="fw-bolder">Number <span class="fw-lighter">{{ details['number_in_opus'] }}</span></h2>
                {% endif %}
            
                {% if details['movement'] %}
                    <h2 class="fw-bolder">Movement <span class="fw-lighter">{{ details['movement'] }}</span></h2>
                {% endif %}
            
                <h2 class="fw-bolder">Composer / Artist: <span class="fw-lighter d-block d-md-inline-flex">{{ details['composer'] }}</span></h2>
            </div>
            
            <hr>

            <div class="d-block mb-3">
                {% if details['period'] %}
                    <h3 class="fw-bolder">Period: <span class="fw-lighter">{{ details['period'] }}</span></h3>
                {% endif %}

                {% if details['instrument'] %}
                    <h3 class="fw-bolder">Instrument: <span class="fw-lighter">{{ details['instrument'] }}</span></h3>
                {% endif %}
            
                {% if details['difficulty_level'] %}
                    <h3 class="fw-bolder">Difficulty level: <span class="fw-lighter">{{ details['difficulty_level'] }}</span></h3>
                {% endif %}
                
                {% if details['start_date'] %}
                    <h3 class="fw-bolder">Start date: <span class="fw-lighter">{{ details['start_date'].strftime('%m.%d.%Y') }}</span></h3>
                {% endif %}
            
                {% if details['finish_date'] %}
                    <h3 class="fw-bolder">Finish date: <span class="fw-lighter">{{ details['finish_date'].strftime('%m.%d.%Y') }}</span></h3>
                    <h3 class="fw-bolder">Finished in <span class="fw-lighter">{{ (details['finish_date'] - details['start_date']).days }} days</span></h3>
                {% else %}
                    <h3 class="fw-bolder">Started <span class="fw-lighter">{{ (today - details['start_date']).days }} days ago</span></h3>
                    <h3 class="fw-bolder">Not finished yet. <span class="fw-lighter"><a class="edit-link" href="/edit/{{ piece_id }}">Edit</a>
                        to select a finish date</span></h3>
                {% endif %}
            </div>
            
            <hr>

            <div class="d-block mb-3">
                <!-- TODO format this as a table -->
                {% if details['is_in_repertoire'] and details['finish_date'] %}
                <h3 class="fw-bolder">When to play it next:</h3>  
                    <ul>
                        {% for day in schedule %}
                            {% if day['date_to_play'] >= today %}
                                <li class="list-group-item">{{ day['date_to_play'].strftime('%m.%d.%Y') }}
                            {% endif %}                            
                        {% endfor %}
                        <!-- TODO Link for resetting schedule -->
                    </ul>
                 {% endif %}
            </div>       
            <div class="row justify-content-center">
                <div class="col-6 text-end">
                    <a class="footer-link" href="/edit/{{ piece_id }}">Edit</a>
                </div>
                <div class="col-6 text-start">
                    <!-- TODO Add confirmation -->
                    <a class="footer-link" href="/remove/{{ piece_id }}">Remove</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}