{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <section class="text-center">
        <h1 class="mb-3 d-block px-5 fw-bolder">Latest entries</h1>
        <div class="container mt-4">
            {% if not latest %}
                <a href="/add_piece" class="entry-link">                    
                    <div class="row my-2 rounded-1 dark-gradient justify-content-center">
                        <div class="col-6 py-2 text-center">
                            No pieces have been added yet. Click here to add one.
                        </div>
                    </div>
                </a>
            {% else %}
            {% for piece in latest %}
                <a href="/details/{{ piece['id'] }}" class="entry-link">                    
                    <div class="row my-2 rounded-1 dark-gradient justify-content-center">
                        <div class="col-md-6 py-2 text-md-end">
                            {{ piece["title"].title() }}
                        </div>
                        <div class="col-md-6 py-2 text-md-start">
                            {{ piece["name"].title() }}
                        </div>
                    </div>
                </a>
                {% endfor %}
                <div class="row">
                    <a href="/view_all" class="footer-link pt-3">View all entries</a>
                </div>  
            {% endif %}
        </div>
    </section>

    <section class="container mt-5">
        <h1 class="mb-3 d-block px-5 fw-bolder">Play Today</h1>
        <div class="row">
            <div class="col-12">
                {% if play_today %}
                    {% for piece in play_today %}
                        <a href="/details/{{ piece['piece_id'] }}" class="entry-link">                    
                            <div class="row my-2 rounded-1 dark-gradient justify-content-center">
                                <div class="col-md-6 py-2 text-md-end">
                                    {{ piece["title"].title() }}
                                </div>
                                <div class="col-md-6 py-2 text-md-start">
                                    {{ piece["composer"].title() }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}    
                {% else %}

                {% endif %}
            </div>
        </div>
    </section>

    <section class="container mt-5">
        <h1 class="mb-3 d-block px-5 fw-bolder">Currently Learning</h1>
        <div class="row">
            <div class="col-12">
                {% if currently_learning %}
                    {% for piece in currently_learning %}
                        <a href="/details/{{ piece['piece_id'] }}" class="entry-link">                    
                            <div class="row my-2 rounded-1 dark-gradient justify-content-center">
                                <div class="col-md-6 py-2 text-md-end">
                                    {{ piece["title"].title() }}
                                </div>
                                <div class="col-md-6 py-2 text-md-start">
                                    {{ piece["composer"].title() }}
                                </div>
                            </div>
                        </a>
                    {% endfor %}    
                {% else %}

                {% endif %}
            </div>
        </div>
    </section>
{% endblock %} 